*{
    margin: 0;
    padding: 0;

}
.header-section
{
   ! */
    width: 100%;
}

.header-table
{
    width: 100%;
}
.cb-logo,
.enquiry,
.heading
{
    width: 30%;
    
}

.heading
{
    text-decoration: underline;
}

.cb-logo-img
{
    background-image: url('https://coding-blocks.github.io/assets/images/cb/cblogo.png');
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    margin: auto;
}

.heading,
.enquiry
{
    width: 60%;
    font-size: 25px;
    margin: auto;
}

.info-table
{
    width: 100%;
    /* border: 2px solid pink; */
    height: 200px;
}

.info-details
{
    width: 45%;
    height: 200px;

}


input
{
   font-size:  26px; 
   border: none;
   border-bottom: 2px dotted black;
}
